# 預設忽略的檔案
/shelf/
/workspace.xml
# Rider 忽略檔案
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.MvcFriends.iml
# 已忽略包含查詢文件的預設資料夾
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 基於編輯器的 HTTP 用戶端請求
/httpRequests/
